nav {
    background-color: var(--color-navbar);
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 5px;
}

.buttons {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.buttons button {
    display: flex;
    text-align: center;
    padding: 10px 16px;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    color: var(--color-text-secondary);
    background: var(--color-primary-background);
    border-radius: 38px;
}

@media (max-width: 768px) {
    .buttons button {
        font-size: 12px;
    }
}