.navbar {
    overflow: hidden;
    background-color: var(--color-navbar);
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.navbar h1 {
    font-family: "Kadwa", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    color: var(--color-title);
    margin: 0;
    padding-left: 10px;
    flex: 1;
}

.buttons {
    display: flex;
    margin-left: auto;
}

.buttons button {
    display: block;
    text-align: center;
    padding: 5px 10px;
    font-size: 15px;
    font-family: "Kadwa", serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.buttons button:hover {
    background-color: var(--color-box-outline-hover);
    color: black;
}

.altButton {
    color: white;
    background-color: transparent;
}

.mainButton {
    background-color: var(--color-button);
    border: solid var(--color-button) 1px;
    border-radius: 10px;
    color: var(--color-navbar);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .buttons button {
        font-size: 12px;
    }
}