.background {
    background-image: url('https://static.www.nfl.com/image/private/t_editorial_landscape_12_desktop_2x/f_png/league/siyint2sou8ydeddmaad.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 70%;
    position: relative;
    display: flex;
}

.titleBox {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    flex-shrink: 0;
    bottom: 20px;
    left: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleImg {
    width: 502px;
}

@media (max-width: 768px) {
    .background {
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
    }

    .titleBox {
        position: static;
        margin-top: 20px;
    }
}