.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.titleImg {
    width: 602px;
    height: 163px;
}

.displayImg {
    width: 488.5px;
    height: 274.5px;
    margin-bottom: 10px;
}

.container select {
    margin-top: 10px;
    margin-bottom: 10px;
}

.playBtn {
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: var(--color-button);
    color: var(--color-button-text);
    border-radius: 100px;
    font-size: 25px;
    font-weight: 600;
    padding: 15px 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.playBtn:hover {
    background-color: var(--color-button-hover);
    color: var(--color-button-hover-text);
}

@media screen and (max-width: 830px) {
    .playBtn {
        font-size: 15px;
    }

    .titleImg {
        width: 301px;
        height: 81.5px;
    }
}