footer {
    color: var(--color-text);
    background-color: var(--color-footer);
    padding: 5px;
}

footer:hover {
    user-select: none;
}

footer p {
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
}

@media screen and (max-width: 830px) {
    footer p {
        font-size: 9px;
    }
}