@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter/Inter-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Kadwa';
    src: url('./assets/fonts/Kadwa/Kadwa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kadwa';
    src: url('./assets/fonts/Kadwa/Kadwa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}