:root {
  --color-primary-background: #1DAFBC;
  --color-secondary-background: #2092A0;
  --color-nfl: #123C64;
  --color-icons: #EFEFEF;

  --color-navbar: #1B3D6D;

  --color-button-access: #007bff;
  --color-button-access-hover: #0056b3;
  --color-button-text-access: #fff;

  --color-button: #E4CE18;
  --color-button-text: #715E1B;

  --color-inputbox-outline: #ccc;

  --color-accessbox: #fff;

  --color-text: #fff;
  --color-text-secondary: #100E0E;
  --color-sub-title: #FFF;
}